#root {
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
}
:root {
  --primary-color: #dea509;
  --light-primary-color: #dea5093e;
  --primary-dark-color: #be8f0e;
  --dark-color: #444;
  --legendary-color: #333445;
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}
.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2em;
  margin: 1em;
}
.item {
  background-color: #fff;
  padding: 0.2em;
  border-radius: 0.2em;
}
.item h1 {
  color: var(--legendary-color);
  font-size: 2em;
  font-weight: 600;
}
.item p {
  color: var(--legendary-color);
  margin: 0.5em 0 0.5em 0;
}
.item img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.2em;
}
.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.searchbox {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
}
.searchbox input {
  width: 100%;
  height: 2.5em;
  border: none;
  outline: none;
  background-color: var(--light-primary-color);
  padding: 0.5em 2em 0.5em 2em;
  padding-left: 3em;
  color: #fff;
  border-radius: 0.5em;
  font-size: 1em;
}
.searchbox.searchbox-right input {
  border-radius: 0 0.5em 0.5em 0;
  border-left: none;
}
.searchbox.searchbox-left input {
  border-radius: 0.5em 0 0 0.5em;
  border-right: none;
}
.searchbox input:focus {
  border: 2px solid var(--primary-color);
  box-shadow: 0 0 15px 5px var(--light-primary-color);
}
.searchbox input::placeholder {
  color: #fff;
  font-weight: 400;
}
.searchbox svg {
  position: absolute;
  left: 1em;
  top: 1.1em;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
}
.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  color: #fff;
}
.welcome .name {
  color: var(--primary-color);
}
.btn {
  padding: 0.5em;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 0.5em;
}
.btn:hover {
  background-color: var(--primary-dark-color);
}
.btn:focus {
  border: none;
  outline: none;
}
.btn.btn-left {
  border-radius: 0.5em 0 0 0.5em;
}
.btn.btn-right {
  border-radius: 0 0.5em 0.5em 0;
}
.filter {
  position: absolute;
  top: 3em;
  min-width: 60%;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: #fff;

  /* flex-wrap: wrap; */
  z-index: 10;
}
.filter form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5em;
}
.filter label {
  font-weight: bold;
  color: var(--primary-color);
}
.filter input {
  border: none;
  outline: none;
  background-color: var(--light-primary-color);
  border-radius: 0.5em;
  color: var(--legendary-color);
}
.filter input:focus {
  border: none;
  outline: none;
  background-color: var(--light-primary-color);
  border-radius: 0.5em;
  box-shadow: none;
}
.filter select {
  border: none;
  padding: 0.5em;
  outline: none;
  color: var(--legendary-color);
  background-color: var(--light-primary-color);
  border-radius: 0.5em;
}
.details {
  position: absolute;
  width: 30%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  padding: 0.2em;
}
.details .details-overview {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 0.5em;
}
.details img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5em;
}
.details header {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: end;
  row-gap: 0.5em;
  align-items: start;
  padding: 1em;
}
.details header h2,
p {
  color: #fff;
}
.details section {
  background-color: transparent;
}
.details section p {
  color: var(--legendary-color);
}
.details section a {
  text-decoration: none;
  color: var(--primary-color);
}
.back-btn {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 0.5em;
  right: 0.5em;
  z-index: 10;
  color: var(--legendary-color);
  background-color: #fff;
  font-size: 2em;
  font-weight: 700;
  border-radius: 50%;
  padding: 0.01em 0.2em 0.1em 0.2em;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .details {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .details {
    width: 100%;
  }
}
